<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="styles/home.css" />
    <link rel="icon" href="images/html-tag.png">
  </head>
  <body>
    <form class="contact-form">
    <h2>Contact Form</h2>
      <div class="first-form-section">
        <div class="top-input">
          <label>First name</label>
          <input />
        </div>
        <div class="top-input">
          <label>Last name</label>
          <input />
        </div>
        <div class="top-input">
          <label>Job title</label>
          <input />
        </div>
        <div class="top-input">
          <label>Company</label>
          <input />
        </div>
        <div class="top-input">
          <label>LinkedIn URL</label>
          <input />
        </div>
        <div class="top-input">
          <label>Email</label>
          <input />
        </div>
      </div>

      <div class="second-form-section">
        <div class="top2-input">
          <label>How did we meet?</label>
          <input />
        </div>

        <div class="top2-input">
          <label>Other (please specify)</label>
          <input />
        </div>
      </div>

      <div class="third-form-section">
        <label>Message</label>
        <textarea></textarea>
      </div>

      <div class="fourth-form-section">
        <div class="first-checkbox">
          <input type="checkbox" />
          <label>Please add me to your mailing list.</label>
        </div>

        <div>
            <label>Choose an email format:</label>
            <input type="radio" /><label>HTML</label> <input type="radio" /><label>Text</label>
        </div>
      </div>

      <button class="submit-button">Submit</button>
    </form>
    <a href="https://github.com/ryanrmills/sdev305-contact-form">Link to Contact Form Github Repo</a>
  </body>
</html>
